.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    padding: 0px 20px 0px 20px;
    box-shadow: 1px 1px 5px darkgrey
}

.navbar__logo {
    list-style-type: none
}
.nav__button {
   padding: 5px;
   border-radius: 5px;
   color: #a1a6d8 !important;
   border: 2px solid #a1a6d8 !important;
   border-right: 4px solid #a1a6d8 !important;
   border-radius: 5px !important;
   font-weight: bold !important;
}

.nav__button:hover {
    background-color: #fff !important;
    text-decoration: none;
    color: #636dd6 !important;
}


.navbar__item {
    list-style-type: none;
    border: 2px solid #a1a6d8;
    border-right: 4px solid #a1a6d8;
    border-radius: 5px;
    margin-left: 20px;
    padding: 10px;
    
}

.navbar__logo {
    max-height: 6rem;
}

.navbar__link {
    text-decoration: none !important;
    color: #a1a6d8;
    font-weight: bold;
}

.navbar__link:hover {
    background-color: #fff !important;
    text-decoration: none;
    color: #636dd6 !important;
}

.navbar li:last-child {
    margin-left: auto;
    border: none;
  }
